header {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}

.navbar-brand {
    font-size: 3em;
}

.search-results .today-card {
    padding: 20px;
}