header {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}

.navbar-brand {
    font-size: 3em;
}

.search-history {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    text-align: center;
}

.search-history p {
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
    border: 1px darkslategrey solid;
    margin: 2px;
    width: 82%
}

.search-history p:hover {
    transition: .75s;
    background-color: #88c7aa;
}

.search-results .today-card {
    padding: 5px;
}

.today-card img {
    height: 2em;
    width: 2em;
}

.five-day-display {
    padding: 2px;
}

.five-day-display div {
    margin: 2px;
    font-size: .75em;
    width: 100%;
}

.five-day-display div h5 {
    font-size: 1em;
    font-weight: bold;
}

.five-day-display div img {
    height: 30px;
    width: 30px;
}

.card {
    background-color: #a0aece80;
}